.big-button{
    width: 100%;
    padding: $s-size;
    font-size: $m-size;
    background-color: rgb(100, 15, 180);
    border: none;
    border-bottom: $s-size solid darken(rgb(100, 15, 180), $amount: 10%);
    font-weight: bolder;
    color: white;
    margin-bottom: $m-size;
}

.big-button:disabled{
    opacity: .5;
}

.button{
    border: none;
    background-color: transparent;
    color: $second-color;
    font-weight:500;
    
}

.button--link{
    background-color: rgb(100, 15, 180);
    padding: $s-size;
    border: none;
    font-weight: bold;
    color: white;
    width: 10rem;
    height: 4rem;

}